In [1]:

import string
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import pickle
import tensorflow as tf
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import optimizers
from tensorflow.keras import losses
from tensorflow.keras import regularizers
from tensorflow.keras import metrics
from tensorflow.keras.utils import plot_model
from tensorflow.keras.datasets import imdb
from tensorflow.keras.preprocessing.text import text_to_word_sequence
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

ModuleNotFoundError: No module named 'tensorflow'

In [6]:
metadata = pd.read_csv('/content/sample_data/movies_metadata.csv')
metadata.head(10)

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/movies_metadata.csv'

In [ ]:
print(metadata.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
C = metadata['vote_average'].mean()
C

5.618207215133889

In [ ]:
m = metadata['vote_count'].quantile(0.90)
m

160.0

In [ ]:
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [ ]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
q_movies['score'] = q_movies.apply(weighted_rating, axis= 1)

In [ ]:
q_movies.sort_values(by= 'score', ascending= False, inplace= True)
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715
18465                 The Intouchables      5410.0           8.2  8.125837
40251                       Your Name.      1030.0           8.5  8.112532
289             Leon: The Professional      4293.0           8.2  8.107234
3030                    The Green Mile      4166.0           8.2  8.104511
1170                        GoodFellas      3211.0           8.2  8.077459

In [ ]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
metadata['overview'] = metadata['overview'].fillna('')
print(metadata['overview'].isnull().sum())

0

In [ ]:
tfidf = TfidfVectorizer(stop_words= 'english')
tfidf_matrix = tfidf.fit_transform(metadata['overview'])
tfidf_matrix.shape

(45466, 75827)

In [ ]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
tfidf_matrix = tfidf_matrix[:30000] 
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim.shape

(30000, 30000)

In [ ]:
cosine_sim[1]

array([0.01504121, 1.        , 0.04681953, ..., 0.        , 0.        ,
       0.02303661])

In [ ]:
indices = pd.Series(index=metadata['title'], data = metadata.index).drop_duplicates()
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [ ]:
def get_recommendations(title, cosine_sim= cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]
    
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key= lambda x : x[1], reverse= True)
    
    # Get the scores of the 10 most similar movies, we stared with 1 because index 0 will give the same name of the input title 
    sim_scores = sim_scores[1:11]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    # Return the top 10 most similar movies
    return metadata['title'][movie_indices]

In [ ]:
get_recommendations('Batman Forever')

18252                                The Dark Knight Rises
12481                                      The Dark Knight
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
10122                                        Batman Begins
21194    Batman Unmasked: The Psychology of the Dark Kn...
1328                                        Batman Returns
21908                                      Pillow of Death
9230                    Batman Beyond: Return of the Joker
15511                           Batman: Under the Red Hood
Name: title, dtype: object

In [ ]:
# Load keywords and credits
credits = pd.read_csv('/content/sample_data/credits.csv')
keywords = pd.read_csv('/content/sample_data/keywords.csv')

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')
metadata.head(2)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...

[2 rows x 27 columns]

In [ ]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'keywords'],
      dtype='object')

In [ ]:
len(metadata)

46628

In [ ]:
# # Limit the data for memory size
metadata = metadata[:20000]

In [ ]:
features = ['cast', 'crew', 'keywords', 'genres']
metadata[features].head()

                                                cast  ...                                             genres
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [ ]:
# Parse the striliteral_evalfied features into their corresponding python objects
from ast import literal_eval

for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

metadata[features].head()

                                                cast  ...                                             genres
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'cast_id': 1, 'character': 'Savannah 'Vannah...  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [ ]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
def get_list_or_top_3(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        # get just 3 or less
        if len(names) > 3:
            names = names[:3]
        return names

    # return empty list if it missing data!
    return []

In [ ]:
# Define new director
metadata['director'] = metadata['crew'].apply(get_director)
metadata.head(2)

   adult  ...       director
0  False  ...  John Lasseter
1  False  ...   Joe Johnston

[2 rows x 28 columns]

In [ ]:
# Define new director cast, genres and keywords features.
features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list_or_top_3)
    
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [Animation, Comedy, Family]
1           Jumanji  ...  [Adventure, Fantasy, Family]
2  Grumpier Old Men  ...             [Romance, Comedy]

[3 rows x 5 columns]

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_text(txt):
    if isinstance(txt, list):
        return [i.replace(" ", "").lower() for i in txt]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(txt, str):
            return txt.replace(" ", "").lower()
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_text)

metadata[features].head(2)

                                          cast  ...                        genres
0             [tomhanks, timallen, donrickles]  ...   [animation, comedy, family]
1  [robinwilliams, jonathanhyde, kirstendunst]  ...  [adventure, fantasy, family]

[2 rows x 4 columns]

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [ ]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)
metadata[['soup']].head()

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...
2  fishing bestfriend duringcreditsstinger walter...
3  basedonnovel interracialrelationship singlemot...
4  baby midlifecrisis confidence stevemartin dian...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])
count_matrix.shape

(20000, 36429)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
count_matrix = count_matrix[:20000] # 20000 for prevent allocate more memory than is available. It has restarted.
cosine_sim_2 = cosine_similarity(count_matrix, count_matrix)
cosine_sim_2.shape

In [ ]:
# Reset index of our main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(index=metadata['title'], data = metadata.index )
indices = pd.Series(index=metadata['title'], data = metadata.index).drop_duplicates()
indices.head()

In [ ]:
get_recommendations('The Dark Knight Rises', cosine_sim_2)

In [ ]:
get_recommendations('The Godfather', cosine_sim_2)

In [ ]:
ratings = pd.read_csv('../input/the-movies-dataset/ratings_small.csv')
ratings.head()

In [ ]:
movies = metadata[['id', 'title', 'genres']]
movies['genres'] =  ["".join(st) for st in movies['genres']] 
movies.head()

In [ ]:
pd.crosstab(ratings['userId'], movies['id']).head()

In [ ]:
encoder = LabelEncoder()
ratings['user'] = encoder.fit_transform(ratings['userId'].values)
n_users = ratings['user'].nunique()

ratings['movie'] = encoder.fit_transform(ratings['movieId'].values)
n_movies = ratings['movie'].nunique()


ratings['rating'] = ratings['rating'].values.astype(np.float32)

min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])

n_users, n_movies, min_rating, max_rating

In [ ]:
X = ratings[['user', 'movie']].values
y = ratings['rating'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

In [ ]:
# Number of latent factors
emb_sz = 50

# User embeddings
user = layers.Input(shape=(1,))
user_emb = layers.Embedding(n_users, emb_sz, embeddings_regularizer=regularizers.l2(1e-6))(user)
user_emb = layers.Reshape((emb_sz,))(user_emb)

# Movie embeddings
movie = layers.Input(shape=(1,))
movie_emb = layers.Embedding(n_movies, emb_sz, embeddings_regularizer=regularizers.l2(1e-6))(movie)
movie_emb = layers.Reshape((emb_sz,))(movie_emb)

# Dot product
rating = layers.Dot(axes=1)([user_emb, movie_emb])
rating = layers.Activation('sigmoid')(rating)
rating = layers.Lambda(lambda x:x*(max_rating - min_rating) + min_rating)(rating) # scalling up

# Model
model = models.Model([user, movie], rating)

# Compile the model
model.compile(loss='mse', metrics=metrics.RootMeanSquaredError(),
              optimizer=optimizers.Adam(lr=0.001))

# Show model summary
model.summary()
plot_model(model)

In [ ]:
model.fit(x=[X_train[:,0], X_train[:,1]], y=y_train,
          batch_size=64, epochs=5, verbose=1,
          validation_data=([X_test[:,0], X_test[:,1]], y_test))

In [ ]:
# Number of latent factors
emb_sz = 50

# User embeddings
user = layers.Input(shape=(1,))
user_emb = layers.Embedding(n_users, emb_sz, embeddings_regularizer=regularizers.l2(1e-6))(user)
user_emb = layers.Reshape((emb_sz,))(user_emb)

# User bias
user_bias = layers.Embedding(n_users, 1, embeddings_regularizer=regularizers.l2(1e-6))(user)
user_bias = layers.Reshape((1,))(user_bias)

# Movie embeddings
movie = layers.Input(shape=(1,))
movie_emb = layers.Embedding(n_movies, emb_sz, embeddings_regularizer=regularizers.l2(1e-6))(movie)
movie_emb = layers.Reshape((emb_sz,))(movie_emb)

# Movie bias
movie_bias = layers.Embedding(n_movies, 1, embeddings_regularizer=regularizers.l2(1e-6))(movie)
movie_bias = layers.Reshape((1,))(movie_bias)

# Dot product
rating = layers.Concatenate()([user_emb, movie_emb])

# Add biases
rating = layers.Add()([rating, user_bias, movie_bias])
rating = layers.Dense(10, activation='relu')(rating)
rating = layers.Dense(1, activation='sigmoid')(rating)
rating = layers.Lambda(lambda x:x*(max_rating - min_rating) + min_rating)(rating)

# Model
model = models.Model([user, movie], rating)

# Compile the model
model.compile(loss='mse',  metrics=metrics.RootMeanSquaredError(),
              optimizer=optimizers.Adam(lr=0.001))

# Show model summary
print(model.summary())
plot_model(model, to_file='model.png')

In [ ]:
model.fit(x=[X_train[:,0], X_train[:,1]], y=y_train,
          batch_size=64, epochs=5, verbose=1,
          validation_data=([X_test[:,0], X_test[:,1]], y_test))